

* {
    -fx-primary : #b3e5fc;
    -fx-secondary : #78909c;
    -fx-primarytext: #424242;
    -fx-red: #FF0000;
    -fx-managerprimary : #78909c;
    -fx-textfill: white;
}

.root{
    -fx-background-color: -fx-primary;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-border-width: 1.5pt;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}
.button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-textfill;
}
/** Login Screen Specifics **/
.label-login1{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 20pt;
}
.label-login2{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 15pt;
}

.text-field{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 13pt;
    -jfx-focus-color: -fx-secondary;
}
.wrong-credentials{
    -jfx-unfocus-color: -fx-red;
    -jfx-focus-color: -fx-red;
}
.loginroot{
    -fx-background-image: url("../pictures/darkgreen.jpg");
}
/* Laundry Worker Specifics */
.panelaundry{
    -fx-background-color: -fx-secondary ;
}
.logout-button{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-primary;
    -fx-border-radius: 20px;
    -fx-border-width: 1.5pt;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}
.logout-button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-textfill;
}
/** Manager Screen CSS Style **/

.buttonmanager{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-managerprimary;
}
.rootmanager{
    -fx-background-color: -fx-managerprimary ;
}


/* TabPane Style */
.tab{
    -fx-background-color: -fx-primary ;
    -fx-pref-width: 200;
    -fx-pref-height: 60;
    -fx-text-color: -fx-managerprimary;

}
.tab-label{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 15pt;
}
.tab-header-background{
    -fx-background-color: -fx-primary ;
    -fx-text-color: -fx-managerprimary;
}

/* Menubar style*/
.menu-bar{
    -fx-base : -fx-managerprimary ;
    -fx-background-color: -fx-managerprimary ;
}
.context-menu{
    -fx-background-color: derive(-fx-managerprimary , +20%);
}
/* Toolbar Button Style*/
.toolbar-button{
    -fx-background-color: -fx-primary;
    -fx-background-radius: 0px;
    -fx-border-color: -fx-primary;
    -fx-font-size: 12pt;
    -fx-border-width: 1.5pt;
}
.toolbar-button:hover{
    -fx-background-color: derive(-fx-primary, -20%);
    -fx-border-color: derive(-fx-primary, -20%);
    -fx-text-fill: -fx-textfill;

}

/*text style*/
.main-text{
    -fx-text-fill: -fx-primary;
    -fx-font-size: 13pt;
}
/* Pie Chart Style*/
.chart-pie-label{
    -fx-fill: #4e6069;
}
/*Dialog styling*/
.dialog-button{
    -fx-border-color: -fx-color-1;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-background-radius: 3px;
}

.dialog-button:hover{
    -fx-background-color: -fx-color-1;
    -fx-border-color: derive(-fx-color-1, -20%);
    -fx-text-fill: -fx-textfill;
}

.jfx-layout-actions
{
    -fx-hgap:8;
}
